* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(18, 24, 38, 0.75), rgba(18, 24, 38, 0.75)),
    url('./assets/bg.avif')no-repeat center center fixed;

  background-size: cover;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}